{% extends 'WebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="content center">
  <div class="page-header">
      <h1>Bienvenido <small>Te has registrado correctamente en JustRave!</small></h1>
  </div>

  <hr />
  <div class="alert alert-success">
    Muchas gracias por ser parte de la comunidad JustRave! Ya te encuentras logueado en el sitio.
  </div>
</div>
{% endblock %}
