<p style="font-size: 18px; font-weight: bold; text-transform: uppercase;">{{ 'Recuperar contrasena' | upper }}</p>  
<p>Ingrese su email y presiona el botón "Enviar". Luego diríjase a su casilla de correo donde recibirá las instrucciones para restablecer su contraseña.</p>
<p><a href="#">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</a></p>

<form id="agro-forgot-pass" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
  {% if invalid_username is defined %}
      <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
  {% endif %}

  <input type="text" id="username" name="username" required="required" style="width: 342px; margin-left: 45px; margin-bottom: 20px; border: 1px solid #999999; padding:2px;" />

  <button class="ingresar-fancy" type="submit">Enviar{#{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }#}</button>
</form>
      