<div id="jr_security_modal" style="display:none;">
  <div class="login_registro">
    <p class="titulo">LOGIN <span>REGISTRO</span></p>
    {% include 'WebBundle:Frontend/Security:form.html.twig' %}
    {{ register_box() }}
  </div>
</div>
