<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>

  <head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/images/favicon.ico') }}" />
    {% block javascripts %}{% endblock %}
  </head>

  <body id="{% block id '' %}">

    {% block body %}{% endblock %}

  </body>

</html>
