<div class="success-pager-container">
  <div class="link-pager more">
    <a href="javascript:void(0)" data-href="{{ link }}" data-pager-button="add" data-container="{{ container }}">{{ text|default('VER MAS') }}</a>
  </div>
  <div class="link-load more" style="display: none;">
    <a href="javascript:void(0)">{{ 'pager.Cargando' | trans }}</a>
  </div>
</div>