{% extends 'WebBundle:Frontend:layout.html.twig' %}

{% block header_title %}
<div class="header_form2">
  <div class="fiestas">
    <p><a href="javascript:void(0)">quienes somos?</a></p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="col-left">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et ornare dui, non laoreet massa. Curabitur eleifend sodales lectus, nec lobortis nisl blandit et. Suspendisse potenti. Praesent gravida consequat magna, at tincidunt lectus rutrum egestas. Nam egestas, dolor eu sagittis dapibus, sapien quam iaculis tellus, a mollis enim erat id odio. Quisque id mattis nunc. Nam eget dui sed ante luctus feugiat. Quisque sed dui tellus. Donec ultricies ut nibh id euismod.</p>
  <p>Etiam in nisi eu ante facilisis commodo eget in purus. Phasellus non magna quis dui commodo porttitor vitae eget justo. Aliquam erat volutpat. Nullam pretium, urna eget semper efficitur, sapien ante tempor ante, vitae imperdiet augue tortor sed ipsum. Etiam velit erat, dictum ut mattis et, vehicula et ligula. Nam sed nisi convallis, interdum nisl sed, eleifend nisl. Praesent vitae facilisis urna. Aliquam id nulla sagittis, cursus quam vitae, vehicula quam. Pellentesque ut libero vitae neque malesuada efficitur vitae eget arcu. Duis lobortis egestas est, et elementum purus cursus sodales. Praesent pretium efficitur urna sed luctus. Duis consequat pharetra ullamcorper.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et ornare dui, non laoreet massa. Curabitur eleifend sodales lectus, nec lobortis nisl blandit et. Suspendisse potenti. Praesent gravida consequat magna, at tincidunt lectus rutrum egestas. Nam egestas, dolor eu sagittis dapibus, sapien quam iaculis tellus, a mollis enim erat id odio. Quisque id mattis nunc. Nam eget dui sed ante luctus feugiat. Quisque sed dui tellus. Donec ultricies ut nibh id euismod.</p>
  <p>Etiam in nisi eu ante facilisis commodo eget in purus. Phasellus non magna quis dui commodo porttitor vitae eget justo. Aliquam erat volutpat. Nullam pretium, urna eget semper efficitur, sapien ante tempor ante, vitae imperdiet augue tortor sed ipsum. Etiam velit erat, dictum ut mattis et, vehicula et ligula. Nam sed nisi convallis, interdum nisl sed, eleifend nisl. Praesent vitae facilisis urna. Aliquam id nulla sagittis, cursus quam vitae, vehicula quam. Pellentesque ut libero vitae neque malesuada efficitur vitae eget arcu. Duis lobortis egestas est, et elementum purus cursus sodales. Praesent pretium efficitur urna sed luctus. Duis consequat pharetra ullamcorper.</p>
</div>
{% endblock %}
