<div id="productora_image" style="display:none;">
  <div class="crear_flyer">
    <p class="titulo">Imagen</p>
    {% include 'WebBundle:Frontend/Media:component.html.twig' with {'context': 'eventos_image', 'provider': 'sonata.media.provider.image', 'objectClass': 'evento' }  %}
  </div>
</div>
