<div class="eventos eventos2">
  <div class="titulo">
    <p>FIESTAS QUE SIGO</p>
  </div>
  {% for raver in 1..6 %}
  <div class="event">
    <div class="date">
      <div class="up">mar</div>
      <div class="down">27</div>
    </div>
    <div class="fecha">
      <p>FIESTA 3, W HECHO M</p>
    </div>
  </div>
  {% endfor %}
  <a href="#" class="more">+ VER MAS</a>
</div>

{#<div class="eventos eventos2">
  <div class="titulo">
    <p>FIESTAS EN LAS QUE TOQUE</p>
  </div>
  {% for raver in 1..6 %}
  <div class="event">
    <div class="date">
      <div class="up">mar</div>
      <div class="down">27</div>
    </div>
    <div class="fecha">
      <p>FIESTA 3, W HECHO M</p>
    </div>
  </div>
  {% endfor %}
  <a href="#" class="more">+ VER MAS</a>
</div>#}